
.content {
    align-items: center;
    justify-content: center;
    display: flex;
    color: navy;
}
.elements{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: medium;
    color: white;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: maroon;
}
.box{
    background-color:maroon;
    width: 38%;
    height: 4cm;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
}
